<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xb.shardingdemo.mapper.CourseMapper">
    <insert id="insert" parameterType="com.xb.shardingdemo.entity.Course">
        insert into course(cid,cname,user_id,status) values(#{cid},#{cname},#{userId},#{status})
    </insert>
</mapper>